* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   display: flex;
   border: 1px solid ;
}

.header,
.second,
.third,
.fourth,
.fifth,
.footer {
   background-color: aquamarine;
   height: 300px;
   padding: 0 20px 0 20px; 
   display: flex;
   flex: 1;
}

.header {
   justify-content: space-between;
   height: 60px;
   background-color: #1f2937 ;
   color: white;
}

.logo {
   display: flex;
   padding: 20px;
}


.links {
   display: flex;
   padding: 20px;
}
.links > div {
   padding-right: 15px;
}

/* SECOND CONTAINER STYLING */

.second {
   justify-content: space-between;
   background-color: #1f2937;
   color: #f9faf8;
}

.description {
   border: 10px;
   width: 50%;
   padding: 70px 0 0 50px;
   justify-content: center;
   flex: 1;
}

.header-image {
   padding: 15%;
   justify-items: center;
   flex: 1;
}

.heading, .heading-para {
   margin: 1rem 0 1rem 0;
}

.description > button {
   margin-top: 1rem;
   padding: 0.5rem;
   background-color: #3882f6;
   color: #f9faf8;
   border-radius: 0.6rem;
}

/*THIRD CONTAINER STYLING*/

.third{
   background-color: #f9faf8;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

#head {
   /*padding: 60;*/
   margin: 600px solid black;
}

.boxes {
   flex: 1;
   justify-items: row;
}

/*FOURTH CONTAINER STYLING*/
.fourth {
   flex: 1;
   padding-top: 6rem;
   background-color: #e5e7eb;
   height: 15rem;
}

.fourth > p {
   font-style: italic;
   font-size: larger;
   margin: 0 4rem 0 4rem;
   font-weight: bold;
}

/* STYLING FIFTH CONTAINER*/

.fifth {
   background-color: #f9faf8;
   justify-content: center;
   /*margin-top: 10%;*/
}

#one {
   background-color: #3882f6;
   color: azure;
   justify-items: center;
   margin: 10%;
   padding: 2rem 5rem;
   border-radius: 1rem;
}

#two > button {
   color: whitesmoke;
   border: 2px solid white;
   background-color: #3882f6;
   padding: 5px;
   border-radius: 0.4rem;
}

.footer {
   height: 60px;
   background-color: #1f2937;
   color: #f9faf8;
   justify-content: center;
   padding-top: 3%;
}
